Source: vanguards
Maintainer: unknown <unknown@unknown>
Section: net
Priority: optional
Build-Depends: debhelper (>= 11),
               dh-python,
               python3,
               python3-pytest,
               python3-setuptools,
               python3-stem
#              pypy,
#              pypy-setuptools,
#              pypy-stem,
#              pypy-pytest,
Standards-Version: 4.1.4
Vcs-Browser: https://github.com/mikeperry-tor/vanguards
Vcs-Git: https://github.com/mikeperry-tor/vanguards
Homepage: https://github.com/mikeperry-tor/vanguards

Package: vanguards
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Conflicts: pypy-vanguards
Description: Additional protections for Tor Onion Services (Python 3)
 vanguards uses the Stem Tor control port library to connect to a Tor control
 port. It has three defense subsystems: Vanguards, Rendguard, and Bandguards.
 All three subsystems apply to both service-side and client-side onion service
 activity, but NOT to any client traffic that exits the Tor network to the
 normal Internet.

#Package: vanguards
#Architecture: all
#Depends: ${misc:Depends},
#         ${pypy:Depends}
#Conflicts: python3-vanguards
#Description: Additional protections for Tor Onion Services (Python 3)
# vanguards uses the Stem Tor control port library to connect to a Tor control
# port. It has three defense subsystems: Vanguards, Rendguard, and Bandguards.
# All three subsystems apply to both service-side and client-side onion service
# activity, but NOT to any client traffic that exits the Tor network to the
# normal Internet.
